@charset "UTF-8";
/* CSS Document */

.wrapper {
    
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    grid-template-rows: auto auto auto auto;
    grid-template-areas: 
        "header header header header header"
        
        "featured featured featured featured featured"
        "main main main main main"
        
        "footer footer footer footer footer"
    ;
    gap: 15px;
}

header {
    grid-area: header;
}



.featured {
    grid-area: featured;

}

main {
    grid-area: main;

}

aside {
    grid-area: aside;
}

/* aside {
    grid-area: sidebar;

} */

footer {
    grid-area: footer;
}